<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505807893059-nfov5na30tv2q73d5p8gg0vm62q36tij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505807893059-nfov5na30tv2q73d5p8gg0vm62q36tij</string>
	<key>API_KEY</key>
	<string>AIzaSyBQnXxL3MqLuyXiYpP3_ug2PD1pBAYOn5M</string>
	<key>GCM_SENDER_ID</key>
	<string>505807893059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hana.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>flutter-firstapp-b2c32</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firstapp-b2c32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505807893059:ios:5b017027c933748e3f9af6</string>
</dict>
</plist>